In [ ]:
#Melakukan EDA dan Cleansing sederhana
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Digital Skola/Project 1/Mobile_phone_price.csv")
df.head()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128 GB,8 GB,6.4,50 + 12.2,4614,799

In [ ]:
df.shape

(407, 8)

In [ ]:
df.info() #informasi umum

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
dtypes: int64(1), object(7)
memory usage: 25.6+ KB

In [ ]:
df.describe() #kenapa price yang juga numerik tipenya objek ?

       Battery Capacity (mAh)
count              407.000000
mean              4676.476658
std                797.193713
min               1821.000000
25%               4300.000000
50%               5000.000000
75%               5000.000000
max               7000.000000

In [ ]:
df['RAM '].unique()

array(['6 GB', '12 GB', '8 GB', '4 GB', '3 GB', '2 GB', '4GB', '8GB',
       '6GB', '12GB', '3GB', '2GB', '5GB', '12', '3', '6', '8', '4', '16',
       '2'], dtype=object)

In [ ]:
df.columns

Index(['Brand', 'Model', 'Storage ', 'RAM ', 'Screen Size (inches)',
       'Camera (MP)', 'Battery Capacity (mAh)', 'Price ($)'],
      dtype='object')

In [ ]:
df.nunique()

Brand                      16
Model                     239
Storage                    13
RAM                        20
Screen Size (inches)       41
Camera (MP)               143
Battery Capacity (mAh)     48
Price ($)                  89
dtype: int64

In [ ]:
df['Price ($)'].unique()

array(['999', '1199', '899', '279', '799', '249', '699', '329', '449',
       '199', '299', '379', '179', '729', '599', '139', '189', '399',
       '259', '159', '229', '499', '129', '529', '369', '1099', '169',
       '99', '459', '239', '1299', '429', '659', '269', '359', '$799 ',
       '$399 ', '$699 ', '$329 ', '$999 ', '$549 ', '$1,299 ', '$899 ',
       '$449 ', '$319 ', '$269 ', '$349 ', '$279 ', '$249 ', '$299 ',
       '$969 ', '$1,199 ', '$149 ', '$139 ', '$99 ', '$199 ', '$169 ',
       '$499 ', '$179 ', '$219 ', '$229 ', '$239 ', '$109 ', '$189 ',
       '$389 ', '$309 ', '$369 ', '$129 ', '$849 ', '$469 ', '$209 ',
       '$119 ', '$339 ', '$429 ', '$159 ', '$379 ', '$289 ', '130', '749',
       '149', '969', '649', '349', '419', '1399', '1999', '119', '319',
       '1049'], dtype=object)

In [ ]:
df['Screen Size (inches)'].unique()

array(['6.1', '6.8', '6.7', '6.67', '6.4', '6.55', '6.78', '6.43', '6.5',
       '6.62', '5.4', '6.2', '6.51', '6.6', '4.7', '6.58', '6.52', '6.44',
       '6.53', '6.56', '6.8 + 3.9', '4.5', '6.39', '5.9', '5.5', '6.81',
       '5.99', '6.82', '6.3', '6.22', '6', '6.35', '6.9', '6.76', '6.49',
       '6.72', '5.7', '6.47', '7.6 (unfolded)', '6.15', '6.57'],
      dtype=object)

In [ ]:
df[(df['Screen Size (inches)'] == '6.8 + 3.9') | (df['Screen Size (inches)'] == '7.6 (unfolded)')]

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
88,LG,Wing,256GB,8GB,6.8 + 3.9,64MP + 13MP + 12MP,4000,$999
373,Samsung,Galaxy Z Fold2 5G,256,12,7.6 (unfolded),12+12+12,4500,1999

In [ ]:
df['Price ($)'] = df['Price ($)'].str.replace('$','')
df['Price ($)'] = df['Price ($)'].str.replace(',','')
df['Price ($)'] = df['Price ($)'].astype(int)

array([ 999, 1199,  899,  279,  799,  249,  699,  329,  449,  199,  299,
        379,  179,  729,  599,  139,  189,  399,  259,  159,  229,  499,
        129,  529,  369, 1099,  169,   99,  459,  239, 1299,  429,  659,
        269,  359,  549,  319,  349,  969,  149,  219,  109,  389,  309,
        849,  469,  209,  119,  339,  289,  130,  749,  649,  419, 1399,
       1999, 1049])

In [ ]:
df.describe()

       Battery Capacity (mAh)    Price ($)
count              407.000000   407.000000
mean              4676.476658   408.314496
std                797.193713   299.684768
min               1821.000000    99.000000
25%               4300.000000   199.000000
50%               5000.000000   299.000000
75%               5000.000000   499.000000
max               7000.000000  1999.000000

In [ ]:
df['Price ($)'].unique()

array([ 999, 1199,  899,  279,  799,  249,  699,  329,  449,  199,  299,
        379,  179,  729,  599,  139,  189,  399,  259,  159,  229,  499,
        129,  529,  369, 1099,  169,   99,  459,  239, 1299,  429,  659,
        269,  359,  549,  319,  349,  969,  149,  219,  109,  389,  309,
        849,  469,  209,  119,  339,  289,  130,  749,  649,  419, 1399,
       1999, 1049])

In [ ]:
import re

In [ ]:
df['RAM '] = df['RAM '].str.replace(r'\D+', '', regex=True).astype('int')

In [ ]:
df['RAM '].unique()

array([ 6, 12,  8,  4,  3,  2,  5, 16])

In [ ]:
df.describe()

             RAM   Battery Capacity (mAh)    Price ($)
count  407.000000              407.000000   407.000000
mean     5.837838             4676.476658   408.314496
std      2.431980              797.193713   299.684768
min      2.000000             1821.000000    99.000000
25%      4.000000             4300.000000   199.000000
50%      6.000000             5000.000000   299.000000
75%      8.000000             5000.000000   499.000000
max     16.000000             7000.000000  1999.000000

In [ ]:
df.sort_values(by= 'Battery Capacity (mAh)', ascending = False)

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
208,Samsung,Galaxy M62,128GB,8,6.7,64MP + 12MP + 5MP + 5MP,7000,429
334,Samsung,Galaxy M51,128,6,6.7,64+12+5+5,7000,449
205,Motorola,Moto G60,128GB,6,6.8,108MP + 8MP + 2MP,6000,299
35,Realme,C25s,128 GB,4,6.5,13 + 2 + 2,6000,159
372,Motorola,Moto G9 Power,128,4,6.8,64+2+2,6000,229
...,...,...,...,...,...,...,...,...
32,Apple,iPhone SE (2nd Gen),64 GB,3,4.7,12,1821,399
62,Apple,iPhone SE (2020),64 GB,3,4.7,12,1821,399
289,Apple,iPhone SE (2020),64,3,4.7,12,1821,399
333,Apple,iPhone SE (2020),64,3,4.7,12,1821,399
379,Apple,iPhone SE (2020),128,3,4.7,12,1821,449

In [ ]:
df["Battery Dollar"] = df['Battery Capacity (mAh)']/df['Price ($)']

In [ ]:
df

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($),Battery Dollar
0,Apple,iPhone 13 Pro,128 GB,6,6.1,12 + 12 + 12,3095,999,3.098098
1,Samsung,Galaxy S21 Ultra,256 GB,12,6.8,108 + 10 + 10 + 12,5000,1199,4.170142
2,OnePlus,9 Pro,128 GB,8,6.7,48 + 50 + 8 + 2,4500,899,5.005562
3,Xiaomi,Redmi Note 10 Pro,128 GB,6,6.67,64 + 8 + 5 + 2,5020,279,17.992832
4,Google,Pixel 6,128 GB,8,6.4,50 + 12.2,4614,799,5.774718
...,...,...,...,...,...,...,...,...,...
402,Samsung,Galaxy Note20 5G,128,8,6.7,12+64+12,4300,1049,4.099142
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,4160,349,11.919771
404,Apple,iPhone 12 Pro Max,128,6,6.7,12+12+12,3687,1099,3.354868
405,Oppo,Reno3,128,8,6.4,48+13+8+2,4025,429,9.382284
406,Samsung,Galaxy S10 Lite,128,6,6.7,48+12+5,4500,649,6.933744

In [ ]:
#berapa harga paling murah dari semua merk
df.groupby('Brand').agg({'Price ($)': ['min']})

           Price ($)
                 min
Brand
Apple            399
Asus             699
Blackberry       399
CAT              299
Google           499
Huawei           199
LG               349
Motorola          99
Nokia             99
OnePlus          299
Oppo             139
Realme            99
Samsung          129
Sony            1299
Vivo             139
Xiaomi           119

In [ ]:
df.groupby('Brand').agg(Rata2_Harga = ('Price ($)', 'mean')).sort_values(by = 'Rata2_Harga')

            Rata2_Harga
Brand
Realme       206.906977
Nokia        244.714286
Motorola     278.130435
Xiaomi       282.880597
CAT          299.000000
Vivo         323.000000
Oppo         376.142857
Samsung      480.405063
Blackberry   499.000000
LG           615.666667
OnePlus      644.333333
Google       699.000000
Apple        745.666667
Huawei       783.166667
Asus         874.000000
Sony        1299.000000

In [ ]:
df.groupby('Brand').agg(Rata2_Harga = ('Price ($)', 'mean'), avg_batteray_cap = ('Battery Capacity (mAh)', 'mean'))

            Rata2_Harga  avg_batteray_cap
Brand
Apple        745.666667       2863.900000
Asus         874.000000       5000.000000
Blackberry   499.000000       3500.000000
CAT          299.000000       4200.000000
Google       699.000000       4019.857143
Huawei       783.166667       4161.666667
LG           615.666667       4100.000000
Motorola     278.130435       5021.739130
Nokia        244.714286       4502.857143
OnePlus      644.333333       4415.000000
Oppo         376.142857       4631.339286
Realme       206.906977       5176.744186
Samsung      480.405063       4936.708861
Sony        1299.000000       4500.000000
Vivo         323.000000       4750.000000
Xiaomi       282.880597       5101.791045

In [ ]:
pd.crosstab(df['Brand'], df['RAM '])

RAM         2   3   4   5   6   8   12  16
Brand
Apple        0  11  14   0   5   0   0   0
Asus         0   0   0   0   1   3   0   0
Blackberry   0   0   1   0   2   0   0   0
CAT          0   1   0   0   0   0   0   0
Google       0   0   0   0   2   5   0   0
Huawei       0   0   2   0   0  10   0   0
LG           0   0   0   0   2   1   0   0
Motorola     1   2  14   2   3   0   1   0
Nokia        4   8  10   0   4   2   0   0
OnePlus      0   0   0   0   3   8   4   0
Oppo         0   4  13   0  14  15  10   0
Realme       5   2  20   0   5  11   0   0
Samsung      1   4  26   0  29  12   6   1
Sony         0   0   0   0   0   1   0   0
Vivo         0   5   5   0   4  18   3   0
Xiaomi       0   1  23   0  33   9   1   0

In [ ]:
df.pivot_table(index = "Brand", values = ['Price ($)', 'Battery Capacity (mAh)'], aggfunc = ['mean', 'max'])

                             mean                                 max  \
           Battery Capacity (mAh)    Price ($) Battery Capacity (mAh)
Brand
Apple                 2863.900000   745.666667                   4352
Asus                  5000.000000   874.000000                   6000
Blackberry            3500.000000   499.000000                   4000
CAT                   4200.000000   299.000000                   4200
Google                4019.857143   699.000000                   4614
Huawei                4161.666667   783.166667                   4500
LG                    4100.000000   615.666667                   4300
Motorola              5021.739130   278.130435                   6000
Nokia                 4502.857143   244.714286                   6000
OnePlus               4415.000000   644.333333                   4510
Oppo                  4631.339286   376.142857                   5000
Realme                5176.744186   206.906977                   6000
Samsung               4936.708861   480.405063                   7000
Sony                  4500.000000  1299.000000                   4500
Vivo                  4750.000000   323.000000                   5000
Xiaomi                5101.791045   282.880597                   6000


           Price ($)
Brand
Apple           1299
Asus             999
Blackberry       699
CAT              299
Google           799
Huawei          1399
LG               999
Motorola         699
Nokia            549
OnePlus          999
Oppo            1199
Realme           399
Samsung         1999
Sony            1299
Vivo            1199
Xiaomi          1199

In [ ]:
df.pivot_table(index = "Brand", values = ['Price ($)'], columns = "RAM ", aggfunc = ['mean'])

                mean                                                           \
           Price ($)
RAM               2           3           4      5            6            8
Brand
Apple            NaN  494.454545  838.285714    NaN  1039.000000          NaN
Asus             NaN         NaN         NaN    NaN   699.000000   932.333333
Blackberry       NaN         NaN  399.000000    NaN   549.000000          NaN
CAT              NaN  299.000000         NaN    NaN          NaN          NaN
Google           NaN         NaN         NaN    NaN   649.000000   719.000000
Huawei           NaN         NaN  264.000000    NaN          NaN   887.000000
LG               NaN         NaN         NaN    NaN   424.000000   999.000000
Motorola        99.0  184.000000  239.714286  399.0   359.000000          NaN
Nokia          134.0  142.750000  228.000000    NaN   474.000000   499.000000
OnePlus          NaN         NaN         NaN    NaN   309.000000   631.500000
Oppo             NaN  151.500000  190.538462    NaN   272.571429   407.666667
Realme          99.0  129.000000  166.500000    NaN   291.000000   305.363636
Samsung        129.0  139.250000  231.692308    NaN   441.068966   746.500000
Sony             NaN         NaN         NaN    NaN          NaN  1299.000000
Vivo             NaN  145.000000  179.000000    NaN   219.000000   322.888889
Xiaomi           NaN  119.000000  182.913043    NaN   279.909091   465.666667



RAM             12      16
Brand
Apple          NaN     NaN
Asus           NaN     NaN
Blackberry     NaN     NaN
CAT            NaN     NaN
Google         NaN     NaN
Huawei         NaN     NaN
LG             NaN     NaN
Motorola     699.0     NaN
Nokia          NaN     NaN
OnePlus      921.5     NaN
Oppo         805.0     NaN
Realme         NaN     NaN
Samsung     1349.0  1399.0
Sony           NaN     NaN
Vivo         999.0     NaN
Xiaomi      1199.0     NaN

**Melt**
> mengubah tabel memanjang ke samping menjadi memanjang ke bawah

In [ ]:
df

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($),Battery Dollar
0,Apple,iPhone 13 Pro,128 GB,6,6.1,12 + 12 + 12,3095,999,3.098098
1,Samsung,Galaxy S21 Ultra,256 GB,12,6.8,108 + 10 + 10 + 12,5000,1199,4.170142
2,OnePlus,9 Pro,128 GB,8,6.7,48 + 50 + 8 + 2,4500,899,5.005562
3,Xiaomi,Redmi Note 10 Pro,128 GB,6,6.67,64 + 8 + 5 + 2,5020,279,17.992832
4,Google,Pixel 6,128 GB,8,6.4,50 + 12.2,4614,799,5.774718
...,...,...,...,...,...,...,...,...,...
402,Samsung,Galaxy Note20 5G,128,8,6.7,12+64+12,4300,1049,4.099142
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,4160,349,11.919771
404,Apple,iPhone 12 Pro Max,128,6,6.7,12+12+12,3687,1099,3.354868
405,Oppo,Reno3,128,8,6.4,48+13+8+2,4025,429,9.382284
406,Samsung,Galaxy S10 Lite,128,6,6.7,48+12+5,4500,649,6.933744

In [ ]:
df_melt = df.melt(id_vars = ['Brand', 'Model', 'Storage ', 'RAM ', 'Screen Size (inches)', 'Camera (MP)'], \
        var_name='kolom_berikutnya', value_name= 'value')

In [ ]:
df_melt

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),kolom_berikutnya,value
0,Apple,iPhone 13 Pro,128 GB,6,6.1,12 + 12 + 12,Battery Capacity (mAh),3095.000000
1,Samsung,Galaxy S21 Ultra,256 GB,12,6.8,108 + 10 + 10 + 12,Battery Capacity (mAh),5000.000000
2,OnePlus,9 Pro,128 GB,8,6.7,48 + 50 + 8 + 2,Battery Capacity (mAh),4500.000000
3,Xiaomi,Redmi Note 10 Pro,128 GB,6,6.67,64 + 8 + 5 + 2,Battery Capacity (mAh),5020.000000
4,Google,Pixel 6,128 GB,8,6.4,50 + 12.2,Battery Capacity (mAh),4614.000000
...,...,...,...,...,...,...,...,...
1216,Samsung,Galaxy Note20 5G,128,8,6.7,12+64+12,Battery Dollar,4.099142
1217,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,Battery Dollar,11.919771
1218,Apple,iPhone 12 Pro Max,128,6,6.7,12+12+12,Battery Dollar,3.354868
1219,Oppo,Reno3,128,8,6.4,48+13+8+2,Battery Dollar,9.382284
1220,Samsung,Galaxy S10 Lite,128,6,6.7,48+12+5,Battery Dollar,6.933744

In [ ]:
df_melt['kolom_berikutnya'].unique()

array(['Battery Capacity (mAh)', 'Price ($)', 'Battery Dollar'],
      dtype=object)

In [ ]:
df.stack().head(40)

0  Brand                                  Apple
   Model                          iPhone 13 Pro
   Storage                               128 GB
   RAM                                        6
   Screen Size (inches)                     6.1
   Camera (MP)                     12 + 12 + 12
   Battery Capacity (mAh)                  3095
   Price ($)                                999
   Battery Dollar                      3.098098
1  Brand                                Samsung
   Model                       Galaxy S21 Ultra
   Storage                               256 GB
   RAM                                       12
   Screen Size (inches)                     6.8
   Camera (MP)               108 + 10 + 10 + 12
   Battery Capacity (mAh)                  5000
   Price ($)                               1199
   Battery Dollar                      4.170142
2  Brand                                OnePlus
   Model                                  9 Pro
   Storage                               128 GB
   RAM                                        8
   Screen Size (inches)                     6.7
   Camera (MP)                  48 + 50 + 8 + 2
   Battery Capacity (mAh)                  4500
   Price ($)                                899
   Battery Dollar                      5.005562
3  Brand                                 Xiaomi
   Model                      Redmi Note 10 Pro
   Storage                               128 GB
   RAM                                        6
   Screen Size (inches)                    6.67
   Camera (MP)                   64 + 8 + 5 + 2
   Battery Capacity (mAh)                  5020
   Price ($)                                279
   Battery Dollar                     17.992832
4  Brand                                 Google
   Model                                Pixel 6
   Storage                               128 GB
   RAM                                        8
dtype: object

In [ ]:
df = df.rename(columns = {'Storage ':'Storage', 'RAM ':'RAM'})

In [ ]:
df.columns

Index(['Brand', 'Model', 'Storage', 'RAM', 'Screen Size (inches)',
       'Camera (MP)', 'Battery Capacity (mAh)', 'Price ($)', 'Battery Dollar'],
      dtype='object')

Kategorisasi Value di Kolom

In [ ]:
#kategorisasi harga hp pakai qcut untuk numerik
bin_label =  ['Bronze', 'Silver', 'Gold', 'Platinum']
results, bin_edges = pd.qcut(df['Price ($)'], q = 4, labels = bin_label, retbins=True)

In [ ]:
results.value_counts()

Bronze      119
Silver      101
Platinum     95
Gold         92
Name: Price ($), dtype: int64

In [ ]:
#kategorisasi harga hp pakai qcut
bin_label =  ['Bronze', 'Silver', 'Gold', 'Platinum']
results, bin_edges = pd.qcut(df['Battery Dollar'], q = 4, labels = bin_label, retbins=True)

In [ ]:
results.value_counts()

Silver      106
Bronze      103
Gold        100
Platinum     98
Name: Battery Dollar, dtype: int64

In [ ]:
df['Price Category'] = results

In [ ]:
df

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($),Battery Dollar,Price Category
0,Apple,iPhone 13 Pro,128 GB,6,6.1,12 + 12 + 12,3095,999,3.098098,Bronze
1,Samsung,Galaxy S21 Ultra,256 GB,12,6.8,108 + 10 + 10 + 12,5000,1199,4.170142,Bronze
2,OnePlus,9 Pro,128 GB,8,6.7,48 + 50 + 8 + 2,4500,899,5.005562,Bronze
3,Xiaomi,Redmi Note 10 Pro,128 GB,6,6.67,64 + 8 + 5 + 2,5020,279,17.992832,Gold
4,Google,Pixel 6,128 GB,8,6.4,50 + 12.2,4614,799,5.774718,Bronze
...,...,...,...,...,...,...,...,...,...,...
402,Samsung,Galaxy Note20 5G,128,8,6.7,12+64+12,4300,1049,4.099142,Bronze
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,4160,349,11.919771,Silver
404,Apple,iPhone 12 Pro Max,128,6,6.7,12+12+12,3687,1099,3.354868,Bronze
405,Oppo,Reno3,128,8,6.4,48+13+8+2,4025,429,9.382284,Silver
406,Samsung,Galaxy S10 Lite,128,6,6.7,48+12+5,4500,649,6.933744,Bronze

In [ ]:
df['rank_price'] = df['Price ($)'].rank(ascending = True, method = 'first')
df

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($),Battery Dollar,Price Category,rank_price
0,Apple,iPhone 13 Pro,128 GB,6,6.1,12 + 12 + 12,3095,999,3.098098,Bronze,374.0
1,Samsung,Galaxy S21 Ultra,256 GB,12,6.8,108 + 10 + 10 + 12,5000,1199,4.170142,Bronze,394.0
2,OnePlus,9 Pro,128 GB,8,6.7,48 + 50 + 8 + 2,4500,899,5.005562,Bronze,367.0
3,Xiaomi,Redmi Note 10 Pro,128 GB,6,6.67,64 + 8 + 5 + 2,5020,279,17.992832,Gold,174.0
4,Google,Pixel 6,128 GB,8,6.4,50 + 12.2,4614,799,5.774718,Bronze,352.0
...,...,...,...,...,...,...,...,...,...,...,...
402,Samsung,Galaxy Note20 5G,128,8,6.7,12+64+12,4300,1049,4.099142,Bronze,386.0
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,4160,349,11.919771,Silver,250.0
404,Apple,iPhone 12 Pro Max,128,6,6.7,12+12+12,3687,1099,3.354868,Bronze,393.0
405,Oppo,Reno3,128,8,6.4,48+13+8+2,4025,429,9.382284,Silver,284.0
406,Samsung,Galaxy S10 Lite,128,6,6.7,48+12+5,4500,649,6.933744,Bronze,325.0